<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">  
    
  </head>
  </head>
  <body style="background: radial-gradient(#ccffff, #b3ffff);">
    <nav class="navbar navbar-dark bg-primary">
      <a class="navbar-brand" href="#">Angy</a>
          <a class="navbar-brand"  href="/">Inicio <span class="sr-only">(current)</span></a>
          <a class="navbar-brand"  href="/view">Participantes</a>
          <a class="navbar-brand"  href="/all">Apúntate</a>
    </nav>
    
      <h1 style="text-align: center; margin-top: 2rem; margin-bottom: 2rem;">Bienvenid@ al concurso del verano</h1>
      <p style="text-align: center; margin-top: 2rem; margin-bottom: 2rem;">En esta página podrás apuntarte para participar en un concurso, en el cual podrás ganar un crucero por las Maldivas</p>
      <center>
        <img src="http://127.0.0.1:5000/static/images/verano.png">
      </center>
  </body>
</html>